# Виртуальное окружение
venv/
env/
.venv/

# Файлы с секретами
.env
*.env

# Логи
logs/
*.log

# Бекапы
backups/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/
dist/
build/

# Файлы конфигурации IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Временные/служебные файлы
tuna.tar.gz